/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Reset dos estilos da página
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Estilos comum a todas as páginas
*/
@font-face{
    font-family: Roboto Regular;
    src: url(/fontes/RobotoSlab-Regular.ttf);
   
    font-family: Roboto Extrabold;
    src: url(/fontes/RobotoSlab-ExtraBold.ttf);

}

body {
    font-family: Roboto Regular;
}

h1 {
    font-family: Roboto Extrabold;
    color:#c0262c;
    font-size:2.5em;
    border-bottom: #c0262c solid thin;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.75em;
}

p {
    line-height: 1.3em;
    font-size: 1.1em;
    text-align: justify;
}
p::first-line {
    font-size: 1.17em;
    font-variant: small-caps;
    font-weight: bolder;
    font-style: italic;
}

hr {
    border-color: #c0262c;
}

/*
Trabalhando com a página curiosidades
*/

#curiosidades h2{
    background-color: #c0262c;
    background-image: url(/imagens/importante-saber.jpg), url(/imagens/back-bolinha.gif);
    background-repeat: no-repeat, repeat;
    background-position: center right, center center;
    color: white;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    width: 470px;
    padding: 61px 400px 61px 100px;
}

#curiosidades figcaption {
    background-color: #c0262c;
    padding: 10px 10px;
    color: white;
    font-size: 1.5em;
}

#curiosidades figure {
    border: #c0262c solid thin;
    border-radius: 35px 35px 0 0;
    padding: 20px 0 0;
    text-align: center;
}
#curiosidades ul li {
    list-style-type: none;
    list-style-image: url(/imagens/ossinho.png);
    list-style-position: inside;
    margin: 30px 0;
}
#curiosidades dt {
    color: white;
    background-color: #c0262c;
    padding: 10px;
    font-family: Roboto Extrabold;
}

#curiosidades dd {
    border: #c0262c thin solid;
    border-radius: 0 0 25px 25px;
    margin-top: -3px;
    margin-bottom: 30px;
    padding: 20px 20px 0;
}

#curiosidades ol {
    list-style-type: none;
    white-space: pre;
    line-height: 0.9em;
    /* Nome da variável*/
    counter-reset: contador;
}

#curiosidades ol li::before {
    color: #999;
    counter-increment: contador;
    content: "Questão "counter(contador)" \00BB ";
}

#curiosidades ul li a {
    text-decoration: none;
    color: #c0262c;
    font-family: Roboto Extrabold;
    padding: 10px;
}

#curiosidades ul li a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.8);
} 

#curiosidades dd p a[target="_blank"] {
    text-decoration: none;
    color: #c0262c;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto Extrabold;
    padding: 10px;
    display: inline-block;
}

#curiosidades dd p a[target="_blank"]:hover {
    text-decoration: none;
}

#curiosidades dd p a[href="#topo"] {
    background: url(/imagens/seta-voltar.png) no-repeat left center;
    text-decoration: none;
    color: #c0262c;
    font-variant: normal;
    font-style: normal;
    font-family: Roboto Extrabold;
    padding: 10px 0 10px 30px ;

}

#curiosidades dd p a[href="#topo"]:hover {
    background: url(/imagens/seta-voltar-hover.png) no-repeat left center;
}